.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 3%;

  /* grid-gap: 40px;
  gap: 40px; */
}

.links {
  display: flex;
  align-items: center;
}

.person {
  font-size: 1.6em;
}

.personContainer {
  color: #0290ff;
  background-color: #fff;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItems {
  list-style-type: none;
}

.navLink {
  /* opacity: .5; */
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 1.9px;
  color: #121212;
  margin: 0 12px;
}

.navLink:hover {
  color: #121212;
}
